.btn-add {
    color: #000 !important;
    display: flex;
    height: 40px;
    margin-right: 25px;
    background-color: #0E97FA;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: none;
    font-weight: 500 !important;
    font-size: 18px;
}

.icon-add {
    margin: 0 15px 0 5px;
}

