body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho-page {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: #E5E5E5;
}

.titulo-page {
    margin: 0 35px;
}

.funcionarios-container {
    width: 100%;
    background-color: #BAC1CB;
}
